main{
  width: 100%;
  display: flex;
  padding-top: 100px;
  position: relative;
  background-color: #fff;
  margin-bottom: 0;
}

.container{
  // position: absolute;
  // top: 70px;
  width: 1280px;
  margin: -30px auto 0;
  z-index: 999;
  display: flex;
}

.line{
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 1px;
  background-color: #d1d5da;
}

.personal{
  .icon{
    width: 270px;
    height: 270px;
  
    img{
      width: 100%;
      border-radius: 50%;
    }
  }

  .info{
    color: #000;
    font: 14px;
    margin-top: 20px;
    line-height: 30px;
  }
}

.project{
  width: 0;
  flex-grow: 1;
  margin-left: 20px;

  .nav_bar{
    margin-bottom: 10px;
    .item{
      width: 110px;
      height: 30px;
      text-align: center;
      border-bottom: solid 2px #f9826c;
    }
  }

  .title{
    line-height: 40px;
  }
}

