main {
  height: calc(100vh - 70px);
}

.header_nav {
  position: relative;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 20px;

  .breadcrumb {
    position: absolute;
    left: 20px;
    top: 16px;
  }

  .type_title {
    font-weight: bold;
  }
}

.container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;
}

.menu,
.content {
  background-color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}

.menu {
  width: 240px;

  li {
    margin-bottom: 5px;

    a {
      color: #7c8aab;
    }

    a:hover {
      border-bottom: solid 1px #7c8aab;
    }

    .act {
      color: #007fff;
      border-bottom: solid 1px #007fff;
    }
  }
}

.content {
  width: 710px;
  overflow: auto;

  .article_title {
    font-weight: bold;
    color: #393a3c;
    margin-bottom: 5px;
  }

  .article_content {
    line-height: 24px;
  }

  .bottom_nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
