main {
  height: calc(100vh - 70px);
}

.header_nav {
  position: relative;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 20px;

  .breadcrumb {
    position: absolute;
    left: 20px;
    top: 16px;
  }

  .type_title {
    font-weight: bold;
  }

  .mobil_header{
    display: none;
  }
}

.container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-between;
}

.menu,
.content {
  background-color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}

.menu {
  width: 240px;
  display: block;

  li {
    margin-bottom: 5px;

    a {
      color: #7c8aab;
    }

    a:hover {
      border-bottom: solid 1px #7c8aab;
    }

    .act {
      color: #007fff;
      border-bottom: solid 1px #007fff;
    }
  }
}

.content {
  width: 710px;
  overflow: auto;

  .article_title {
    font-weight: bold;
    color: #393a3c;
    margin-bottom: 5px;
    text-align: center;
  }

  .article_info{
    color: #7c8aab;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .article_content {
    line-height: 24px;
  }

  .bottom_nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1000px) {
  .header_nav{
    position: fixed;
    left: 0;
    top: 0.8rem;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    text-align: left;
    padding: 0 0.2rem;
    border-bottom: 1px solid rgba(178, 186, 194, 0.15);
    display: flex;
    justify-content: space-between;
    z-index: 999;

    .type_title{
      font-size: 0.3rem;
      display: none;
    }

    .breadcrumb{
      display: none;
    }

    .mobil_header{
      display: block;
    }
  }

  main{
    width: 100%;
    margin: 1.6rem 0 0;
  }

  .container{
    width: 100%;
    display: block;
    position: relative;

    .menu{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    .content{
      width: 100%;
      padding: 0 0.2rem;
      font-size: 0.3rem;
      line-height: 0.6rem;

      .article_title{
        padding-top: 0.1rem;
      }
    }
  }
  
  .bottom_nav{
    margin-bottom: 0.2rem;
  }
}
