*{
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
}

html{
  background-color: #dee5ee;
  font-size: 14px;
}

.__container{
  height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
  font-size: 14px;
  text-decoration: none;
}

li{
  list-style: none;
}

main{
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 10px;
  flex-grow: 1;
  position: relative;
}

.content::-webkit-scrollbar {
  width: 5px;
}

.content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background-color: #000;
}

.content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: rgba($color: #fff, $alpha: 0.9);
}

textarea{
  height: 150px;
}

.el-radio{
  margin-right: 0;
}