main{
  display: flex;
  justify-content: space-between;
}

.content{
  width: 710px;
}

.websit_info{
  position: fixed;
  margin-left: 720px;
  width: 240px;
  height: fit-content;
  padding: 10px 20px;
  font-size: 14px;
  color: #7c8aab;
  background-color: #fff;

  .info_title{
    color: #393a3c;
    font-weight: bold;
  }

  .festival{
    margin-bottom: 10px;
  }
}

.c_header{
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  // color: #909090;
  color: #7c8aab;
  background-color: #fff;

  ul{
    display: flex;

    .recently{
      color: #007fff;
    }

    li{
      list-style: none;
      padding: 0 10px;
      border-right: 1px solid hsla(0,0%,59.2%,.2);
      cursor: pointer;

      a{
        color: #909090;
      }

      a:hover{
        color: #007fff;
      }
    };

    li:last-child{
      border: none;
    }

    li:hover{
      color: #007fff;
    }

    .act{
      color: #007fff;
    }
  }
}

.article_list{
  font-size: 14px;
  color: #7c8aab;
  background-color: #fff;

  li{
    // cursor: pointer;
    padding: 10px 20px;
    border-top: 1px solid rgba(178,186,194,.15);

    .article_info{
      .item_type_7{
        color: #bc65cf;
      }

      .item_type_8{
        // color: #76a9dd;
        color: #5261bd;
      }
    }

    .title{
      margin: 5px 0;
      a{
        font-size: 16px;
        font-weight: bold;
        color: #393a3c;
      }

      a:hover{
        color: #007fff;
      }
    }
    
    .preview,
    .read_info{
      font-size: 14px;
    }

    .preview{
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .read_info{
      font-size: 12px;
      i{
        margin-right: 5px;
      }
    }
  }

  li:hover{
    animation: li_cover 0.6s forwards;
  }
}

@keyframes li_cover {
  from {
    background-color: #fff;
  }
  to {
    background-color: #eff3f8;
  }
}

@media screen and (max-width: 1000px) {
  main{
    display: block;
    width: 100%;
    margin-bottom: 0;
    // margin-top: 1.6rem;
    padding-top: 1.6rem;
  }

  .content{
    width: 100%;
  }

  .c_header{
    position: fixed;
    height: 0.8rem;
    left: 0;
    top: 0.8rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(178, 186, 194, 0.15)
  }

  .article_list{
    font-size: 0.2rem;

    .title{
      font-size: 0.3rem;
    }
  }

  .websit_info{
    width: 100%;
    border-top: 1px solid rgba(178, 186, 194, 0.15)
    // margin-top: 0.2rem;
  }
}