.list{
  .item{
    margin-top: 10px;
    height: 28px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    
    .info{
      display: flex;
    }

    .article_title{
      font-weight: bold;
      cursor: pointer;
    }
  }
}