.main_container {
  display: flex;
}

.content_box {
  width: 700px;
  margin-right: 20px;
  
  .article_list {
    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}

.info {
  width: 0;
  flex-grow: 1;
  height: fit-content;

  padding: 0 10px 10px;

  .info_content {
    margin-bottom: 10px;

    p {
      text-indent: 20px;
    }
  }

  .connect{
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
  }

  .my_info {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .main_container{
    flex-direction: column;
  }

  .content_box{
    width: 100%;  
  }

  .article_list{
    font-size: 0.28rem;
  }

  .info{
    width: 100%;
    margin-top: 0.2rem;
  }
}
