$main_color: #007fff;
$text_color: #909090;
$text_main: #2e3135;

.text{
  font-size: 14px;
  color: $text_color;
}

.text_main{
  color: $text_main;
}

.main_content{
  background-color: #fff;
  margin-top: 20px;
}

.border_bottom{
  border-bottom: 1px solid rgba(178,186,194,.15);
  // border-bottom: 1px solid red;
}

.nav_bar{
  display: flex;
  padding: 10px 20px;

  .item{
    // border-right: solid 2px red;
    font-weight: bold;
    margin-right: 16px;
    cursor: pointer;
    color: $text_color;
  }

  .item:hover{
    color: $main_color;
  }
}

.article_list{
  .item_content{
    padding: 10px 20px;
  }

  .title{
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
  }
}

