$main_color: #007fff;
$text_color: #909090;
$text_main: #2e3135;

.text{
  font-size: 14px;
  color: $text_color;
}

.text_main{
  color: $text_main;
}

.main_content{
  background-color: #fff;
  margin-top: 10px;
}

.border_bottom{
  border-bottom: 1px solid rgba(178,186,194,.15);
  // border-bottom: 1px solid red;
}

.nav_bar{
  display: flex;
  padding: 10px 20px;

  .item{
    // border-right: solid 2px red;
    font-weight: bold;
    margin-right: 16px;
    cursor: pointer;
    color: $text_color;
  }

  .item:hover{
    color: $main_color;
  }

  .act{
    color: #007fff;
  }
}

.article_list{
  .article_null{
    padding: 10px 20px;
    text-align: center;
    height: 100px;
    line-height: 60px;
    font-size: 28px;
  }

  .item_content{
    padding: 10px 20px;
  }

  .title{
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;

    a{
      color: $text_main;
      text-decoration: none;
    }

    span{
      font-weight: 400;
      font-size: 14px;
    }
  }

  .more_ariticle{
    padding: 10px 20px;
  }
}

