html {
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  color: #fff;
  overflow: auto;
  padding-top: 10px;

  .main_container {
    width: 1000px;
    margin: 0 auto;
    // display: flex;

    .m_title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .w_card {
      background-color: rgba($color: #000000, $alpha: 0.9);
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}


main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background-color: red;
}

main::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: #000;
}

// 修改element ui 样式
.el-breadcrumb{
  margin: 10px 0;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #fff;
}

.is-link:hover{
  color: red !important;
}

@import './welcome.scss';
