html {
  font-size: 16px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: calc(100% - 50px);
  color: #fff;
  overflow: auto;
  padding-top: 10px;

  .main_container {
    width: 1000px;
    margin: 0 auto;
    // display: flex;

    .m_title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .w_card {
      background-color: rgba($color: #000000, $alpha: 0.9);
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background-color: #000;
}

main::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: rgba($color: #000000, $alpha: 0.9);
}

.breadcrumb{
  display: flex;
  font-size: 14px;
  color: rgb(207, 205, 205);
  
  a{
    color: rgb(207, 205, 205);
  }

  a:hover{
    color: #fff;
  }

  >a,
  >div{
    margin-right: 5px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 0.3rem;
    background-color: lightpink
  }

  main{
    top: 0rem;
    .main_container{
      width: 100%;
      padding: 0 0.2rem;

      .m_title{
        font-size: 0.3rem;
      }
    }
  }
}

@import './index.scss';
